@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'FontSpring Demo Priego';
  src: url('../public/fonts/fontspring-demo-priego.woff2') format('woff2'),
    url('../public/fonts/fontspring-demo-priego.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BD Lifeless';
  src: url('../public/fonts/BDLifelessGrotesk-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BD Lifeless', sans-serif;
  background-color: #f4f7ff;
}

@layer components {
  .card {
    @apply bg-primary border-[1px] border-solid border-[#2B394F] rounded-xl shadow-md shadow-primary relative overflow-hidden hover:shadow-lg hover:shadow-primary m-2
    ;
  }

  .badge {
    @apply flex justify-between items-center bg-gradient-to-r from-[#00d289] to-[#00cdb4] rounded-md absolute top-2 left-2 p-2 min-w-[25%];
  }
}


